body
{
    font-family: Tahoma, sans-serif;
}

.container
{
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap; /*flex-flow = flex-direction + flex-wrap */
    /*gap: 1rem;*/
}

.container > .square
{
    width: 20rem;
    height: 20rem;
    /*flex-grow: 1;*/
}

.container > .square:first-child
{
    /*flex-grow: 0.25;*/
    /*align-self: flex-end;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

.container > .square:nth-child(2)
{
    /*align-self: flex-start;*/
}

.container > .square:nth-child(3)
{
    /*align-self: flex-start;*/
}


.square
{
    width: 2rem;
    height: 2rem;
    background-color: #b700ff;
    color: white;
    border: 1px solid cyan;
}
