*
{
    box-sizing: border-box;
}

body
{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    background-color: #343131;
    color: #cbcece;
}

a {
    color: #D8A25E;
    text-decoration: none;
    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    /*transition-delay: 1s;*/
}

a.visited
{
    color: #A04747;
}

a:hover
{
    color: #EEDF7A;
}